/* Global Setting */
* {
    padding: 0;
    margin: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* buttons */
.btn {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 12px 16px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(190deg, #F7E93F, #fb09b4, #9100F8);
    transition: transform 0.2s;
    font-family: inter;
}

.btn:hover {
    transform: translateX(5px);
    background: linear-gradient(190deg,  #fb09b4, #9100F8, #F7E93F );
    

}


/* navigation Bar or Heading Set up */

.navbar {
    background-color: #412567;
    padding: 16px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    max-width: 1200px;
    margin: 0px auto;
}

.logo img {
    width: 219px;
    height: 32px;
}

.menu ul {
    display: flex;
    gap: 30px;
}

.menu ul li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: transform 0.3s;
}
.menu ul li:hover {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    color: #fb09b4;
    transform: translateY(5px);
    
}